@model SistemaVentaDeRopaOnline.Models.Categoria

@{
    ViewData["Title"] = "Registrar Nueva Categoría";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <h4>Agregar Categoría</h4>
        <h6>Crear nueva categoría</h6>
    </div>
</div>

<form asp-action="Crear" method="post">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" style="border: 1px solid rgba(145, 158, 171, .32); height: 40px; font-size: 14px; font-weight: 500; color: #637381; padding: 10px 15px; border-radius: 5px;" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-submit me-2">Registrar</button>
                    <a asp-action="Listar" class="btn btn-cancel">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</form>