@model List<SistemaVentaDeRopaOnline.Models.Talla>
@{
    ViewData["title"] = "Listar";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="page-header">
    <div class="page-title">
        <h4>Lista de Tallas</h4>
        <h6>Gestiona tus tallas</h6>
    </div>
    <div class="page-btn">
        <a asp-action="Crear" asp-controller="Talla" class="btn btn-added"><img src="~/assets/img/icons/plus.svg" alt="img" class="me-1">Agregar Nueva Talla</a>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-input">
                    <a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table  datanew">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var talla in Model)
                    {
                        <tr>
                            <td>@talla.Id</td>
                            <td>@talla.Nombre</td>
                            <td>
                                <a class="me-3" href="editproduct.html">
                                    <img src="~/assets/img/icons/edit.svg" alt="img">
                                </a>
                                <a class="confirm-text" href="javascript:void(0);">
                                    <img src="~/assets/img/icons/delete.svg" alt="img">
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
        
