@{
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<h2 class="text-success">¡Pago realizado con éxito!</h2>
<p>Tu pedido ha sido procesado correctamente.</p>
<a asp-action="Index" asp-controller="Pedido" class="btn btn-primary">Volver a la tienda</a>
